{% if section.settings.donations_show == true %}
  <div class="donations-bar js-donations-bar" style="background-color:{{section.settings.donations_bg}}">
    <div class="donations-bar__inner">
      <h2 class="donations-bar__title js-donations-bar__title">
      </h2>
    </div>
  </div>
{% endif %}