  <div class="dual-image-banner">
    <div class="dual-image-banner__left-image" style="background-image: url({{ block.settings.left_image | img_url: 'Medium' }});">
      <img class="visually-hidden" src="" alt="{{ block.settings.left_image.alt }}"/>
    </div>
    <div class="dual-image-banner__right-image" style="background-image: url({{ block.settings.right_image | img_url: 'Medium' }});">
      <img class="visually-hidden" src="" alt="{{ block.settings.right_image.alt }}"/>
    </div>
  </div>