{% if block.settings.image != blank %}
  <div class="how-all__image" style="background-image: url({{ block.settings.image | img_url: 'Medium' }});">
    <img class="visually-hidden" src="" alt="{{ block.settings.image.alt }}"/>
  </div>
{% endif %}