<div class="policy__section-wrapper">
  {% if block.settings.title != blank %}
      <h1 class="policy__section-title">{{ block.settings.title }}</h1>
  {% endif %}
  {% if block.settings.description != blank %}
      <div class="policy__section-description">{{ block.settings.description }}</div>
  {% endif %}
</div>