// * {
//   font-family: $font-primary;
// }

// p, .p {
//   font-family: $font-primary-light;
//   color: $static-color-body-text;
//   line-height: 1.5;
//   @include rem(font-size, 16px);
//   letter-spacing: normal;
// }

// h2 {
//   &.p {
//     text-transform: none;
//   }
// }

.faux-select,
body,
button,
input,
select,
textarea {
  font-family: $font-helvetica;
}

.section-header {
  margin-bottom: 8px;
}

.section-header__title {
  @include rem("font-size", 30px);
  color: $blue1;
  font-family: $font-antro-vectra;
  font-weight: $font-weight-bold;
  font-style: normal;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: none;
  @include mq(desktop) {
    @include rem("font-size", 70px);
  }
}

.btn {
  font-family: $font-helvetica;
  @include rem("font-size", 10px);
  font-weight: $font-weight-medium;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: normal;
  border-radius: 4px !important;
  @include mq(desktop) {
    border-radius: 10px !important;
    @include rem("font-size", 21px);
    letter-spacing: 2.1px;
    padding: 15px 25px;
  }
}

.btn--secondary {
  color: $brown0;
  border-color: $linen0;
  @include mq(desktop) {
    border-width: 2px;
  }
}

.btn--small {
  padding: 8px 24px;
  @include mq(desktop) {
    padding: 12px 32px;
  }
}

.h5,
.h6,
h5,
h6 {
  font-family: $font-ltc-goudy-oldstyle-pro;
  @include rem("font-size", 16px);
  font-weight: $font-weight-normal;
  letter-spacing: 1.6px;
  line-height: normal;

  @include mq(tablet) {
    @include rem("font-size", 20px);
  }
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  font-family: $font-antro-vectra;
  font-weight: $font-weight-bold;
  @include rem("font-size", 45px);
  letter-spacing: 2.8px;
  @include mq(tablet) {
    @include rem("font-size", 60px);
  }
}

p {
  color: $blue0;
  font-family: $font-ltc-goudy-oldstyle-pro;
  @include rem("font-size", 15px);
  font-weight: $font-weight-normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.4;
  @include mq(tablet) {
    @include rem("font-size", 22px);
    line-height: 1.59;
  }
}

[data-type_header_capitalize="true"] .h1,
[data-type_header_capitalize="true"] .h2,
[data-type_header_capitalize="true"] .h3,
[data-type_header_capitalize="true"] h1,
[data-type_header_capitalize="true"] h2,
[data-type_header_capitalize="true"] h3 {
  text-transform: capitalize;
}
