// Colors
$white: #FFFFFF;
$black: #000000;
$lightgray0: #e8e8e1;
$gray0: gray;
$gray1: #c7d6d8;
$gray2: #707070;
$gray3: #a4abaf;
$blue0: #22475d;
$blue1: #4d6574;
$blue2: #6c9ca8;
$blue3: #38b6ba;
$brown0: #bb634a;
$brown1: #c78168;
$brown2: #8a694a;
$linen0: #fbf1e9;
$linen1: #f1deb8;
$linen2: #e0ab54;
$pink0: #d4a089;
$pink1: #f5dcca;

$font-helvetica: Helvetica, sans-serif;
$font-antro-vectra: 'Antro Vectra', sans-serif;
$font-ltc-goudy-oldstyle-pro: 'ltc-goudy-oldstyle-pro', serif;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;