
{%- render 'submenu', links: linklists.our-story-1.links -%}
<div class="centered-page-wrapper">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'about-us-section' %}
        {% include 'page-about-us-section' block %}
      {% when 'about-us-team-title' %}
        {% include 'page-about-us-team-title' block %}
      {% when 'about-us-team-member' %}
        {% include 'page-about-us-team-member' block %}
      {% when 'about-us-contact-section' %}
        {% include 'page-about-us-contact-section' block %}
    {% endcase %}
  {% endfor %}
</div>

{% schema %}
  {
    "name": "About Us Page",
    "blocks": [
      {
        "type": "about-us-section",
        "name": "About Us Section",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Recommended size 482x555"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title",
            "info": "Description Title"
          },
          {
            "id": "description",
            "type": "richtext",
            "label": "Description"
          },
          {
            "id": "image-right",
            "type": "checkbox",
            "label": "Image on the right",
            "info": "Change order of image and description"
          }
        ]
      },
      {
        "type": "about-us-team-title",
        "name": "About Us Team Title",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title",
            "info": "Leadership Team Title"
          }
        ]
      },
      {
        "type": "about-us-team-member",
        "name": "About Us Team Member",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Recommended size 434x434"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title",
            "info": "Leadership Team Title"
          },
          {
            "id": "description",
            "type": "richtext",
            "label": "Description",
            "info": "Team Member Description"
          }
        ]
      },
      {
        "type": "about-us-contact-section",
        "name": "About Us Contact Section",
        "limit": 1
      }
    ]
  }
{% endschema %}