<div class="centered-page-wrapper page-wrapper">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'faq-title' %}
        {% include 'page-faq-title' block %}
      {% when 'faq-section' %}
        {% include 'page-faq-section' block %}
    {% endcase %}
  {% endfor %}
</div>

{% schema %}
  {
    "name": "FAQ Page",
    "blocks": [
      {
        "type": "faq-title",
        "name": "FAQ Title",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          }
        ]
      },
      {
        "type": "faq-section",
        "name": "FAQ Section",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "description",
            "type": "richtext",
            "label": "Description"
          }
        ]
      }
    ]
  }
{% endschema %}