.grid__item {
  .article__date {
    color: $black;
    font-family: $font-ltc-goudy-oldstyle-pro;
    @include rem("font-size", 13px);
    font-weight: $font-weight-normal;
    font-style: normal;
    letter-spacing: 1.3px;
    line-height: normal;
    margin-top: 5px;
    @include mq(desktop) {
      @include rem("font-size", 18px);
    }
  }

  .article__title {
    color: $brown0;
    font-family: $font-ltc-goudy-oldstyle-pro;
    @include rem("font-size", 18px);
    font-weight: $font-weight-bold;
    font-style: normal;
    letter-spacing: 1.8px;
    line-height: normal;
    @include mq(desktop) {
      @include rem("font-size", 20px);
    }
  }
}
