.article__date-detail, .article__date-detail a {
  color: $blue0 !important;
  font-family: $font-ltc-goudy-oldstyle-pro;
  font-weight: $font-weight-normal;
  letter-spacing: 1.3px;
  @include mq($until: tablet){
    letter-spacing: 0.66px;
  }
}

.article__title-detail {
  @include rem("font-size", 30px);
  color: $linen2;
  font-family: $font-ltc-goudy-oldstyle-pro;
  font-weight: $font-weight-bold;
  letter-spacing: 4px;
  margin-top: 21px;
  @include mq($until: tablet){
    @include rem("font-size", 18px);
    letter-spacing: 2.5px;
    margin-top: 8px;
  }
}

.article__body {
  font-family: $font-ltc-goudy-oldstyle-pro;
  font-weight: $font-weight-normal;
  color: $blue0;
  margin-top: 63px;
  @include mq($until: tablet){
    margin: 21px 0 30px;
  }
}

.article__comment-title {
  @include rem("font-size", 18px);
  font-family: $font-ltc-goudy-oldstyle-pro;
  font-weight: $font-weight-bold;
  letter-spacing: 2.5px;
  color: $linen2;
  text-transform: uppercase !important;
  @include mq($until: tablet){
    letter-spacing: 2px;
    @include rem("font-size", 15px);
  }
}

.article__moderated {
  font-family: $font-helvetica;
  font-weight: $font-weight-medium;
  color: $blue0;
  @include mq($until: tablet){
    letter-spacing: normal;
  }
}

.article__post-comment-btn {
  color: $blue0;
  border: 2px solid $linen2;

  &:hover {
    color: $blue0;
    border: 2px solid $linen2; 
  }
}