.breadcrumb {
  text-align: left;
  a {
    color: $blue0;
    font-family: $font-ltc-goudy-oldstyle-pro;
    font-weight: $font-weight-normal;
    font-style: normal;
    letter-spacing: normal;
  }
}
