.cart__product-name, .cart__title {
  font-family: $font-ltc-goudy-oldstyle-pro !important;
  font-weight: $font-weight-bold !important;
  color: $brown0 !important;
  letter-spacing: 1.7px !important;
  text-align: left;
  @include mq($until: tablet){
    letter-spacing: 1.2px !important;
  }
}

.cart__title {
  @include mq($until: tablet){
    text-align: center;
  }
}

.cart__product-meta {
  color: $blue1;
  font-family: $font-ltc-goudy-oldstyle-pro;
  font-weight: $font-weight-bold;
  letter-spacing: 1.7px;
  margin-top: 9px;
  @include mq($until: tablet){
    letter-spacing: 1px;
    margin-top: 5px;
  }
}

.cart__remove-btn {
  padding: 17px 34px;
  background-color: $white;
  color: $blue0 !important;
  background-color: $white !important;
  letter-spacing: 1.5px;
  border: 2px solid $brown1 !important;
  border-radius: 10px;

  @include mq($until: tablet){
    padding: 9px 26px;
  }
}

.cart__headers {
  div {
    font-family: $font-helvetica;
    font-weight: $font-weight-medium;
    color: $blue0;
    @include mq($until: tablet){
    }
  }
}

.cart__price {
  font-family: $font-ltc-goudy-oldstyle-pro;
  font-weight: $font-weight-bold;
  color: $blue0;
  letter-spacing: 2.5px;
  @include mq($until: tablet){
    padding: 9px 26px;
    letter-spacing: 1.4px;
  }
}

.cart__product-qty {
  font-family: $font-helvetica;
  font-weight: $font-weight-bold;
  color: $blue0;
  letter-spacing: 2px;
  @include mq($until: tablet){
    letter-spacing: 1.3px;
  }
}

.cart__subtotal {
  font-family: $font-ltc-goudy-oldstyle-pro;
  font-weight: $font-weight-bold;
  letter-spacing: 2px;
  color: $blue0;
  @include mq($until: tablet){
    letter-spacing: 1.4px;
  }
}

.cart__shipping-info, .cart__donation-info {
  font-family: $font-helvetica;
  font-weight: $font-weight-medium;
  text-align: left;
  color: $blue0;
  @include mq($until: tablet){
    text-align: center;
  }
}

.cart__donation-info--margin {
  margin-top: 17px;
  @include mq($until: tablet){
    margin-top: 6px;
  }
}

.cart__update-cart-btn {
  color: $blue0;
  border: 2px solid $brown1 !important;
}

.cart__checkout-btn {
  background-color: $brown1 !important;
}

.cart__donation-statement {
  text-align: left;
  @include mq($until: tablet){
  }
}

.cart__rte-text {
  p {
    font-family: $font-helvetica;
    font-weight: $font-weight-medium;
    color: $blue0;
    @include mq($until: tablet){
    }
  }

  a {
    color: $blue0;
  }
}

.cart__note-total-wrapper {
  display: flex;
  justify-content: space-between;
  @include mq($until: tablet){
    flex-direction: column;
    justify-content: flex-start;
  }
}

.cart__textarea {
  max-width: 639px;
}

.cart__total-wrapper {
  width: 100%;
  max-width: 564px;
  @include mq($until: tablet){
    max-width: initial;
    margin-top: 33px;
  }
}

.cart__grid-notes {
  width: 100% !important;
}