.collection-item__title--overlaid-box {
  & > span {
    background-color: $linen0;
  }
}

.collection-item__title {
  span {
    font-family: $font-ltc-goudy-oldstyle-pro;
    font-weight: $font-weight-bold;
    font-style: normal;
    letter-spacing: 0.7px;
    line-height: normal;
    color: $brown0;
    @include mq(tablet) {
      padding: 12px 15px;
    }
    @include mq(desktop) {
      min-width: 220px;
    }
  }
}
