.comment-author, .comment-date {
  font-family: $font-helvetica;
  font-weight: $font-weight-medium;
  color: $blue0;
}

.comment-message p {
  font-family: $font-ltc-goudy-oldstyle-pro;
  font-weight: $font-weight-normal;
  color: $blue0;
  letter-spacing: normal;
}