.centered-page-wrapper {
  max-width: 1420px;
  margin: 0 auto;
}

.page-wrapper {
  padding: 0 20px;
}

.return-link {
  background-color: $linen3 !important;

  @include mq($until: tablet){
    @include rem(font-size, 14px);
    @include rem(line-height, 18px);
    padding: 17px 10px;
  }
}