.centered-page-wrapper {
  max-width: 1065px;
  margin: 0 auto;
}

.page-wrapper {
  padding: 0 20px;
}

.return-link {
  background-color: $linen3 !important;

  @include mq($until: tablet){
    padding: 17px 10px;
  }
}