.contact__title {
  font-family: $font-antro-vectra;
  font-weight: $font-weight-bold;
  color: $brown0;
  text-transform: initial !important;
  @include mq($until: tablet){
    margin-top: 23px;
  }
}

.contact__rte {
  font-family: $font-ltc-goudy-oldstyle-pro;
  font-weight: $font-weight-normal;
  color: $blue0;
  @include mq($until: tablet){
  }
}