.template-customers-account {
  .page-content {
    h2,
    h3 {
      color: $blue2;
      font-family: $font-helvetica;
      font-weight: $font-weight-medium;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      text-transform: uppercase;
      margin-bottom: 16px;
      @include mq(desktop) {
        margin-bottom: 30px;
      }
    }
    table {
      @include mq(tablet) {
        margin-bottom: 150px;
      }
    }
    .h5 {
      text-transform: capitalize;
    }

    .customers-sizes {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .customers-sizes__item {
        list-style-type: none;
        padding: 0;
        margin: 0;
        white-space: nowrap;
      }
      .customers-sizes__size-indicator {
        text-transform: uppercase;
      }
    }

    .customers-sizes__item,
    .text-link,
    .h5,
    p {
      color: $blue0;
      font-family: $font-helvetica;
      font-weight: $font-weight-normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
    }
    .account-donations-total {
      color: $brown0;
      font-family: $font-ltc-goudy-oldstyle-pro;
      font-weight: $font-weight-bold;
      text-align: left;
      margin-bottom: 7px;
    }

    .account-donations-total__text {
      color: $blue0;
      font-family: $font-helvetica;
      font-weight: $font-weight-normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
    }
    .account__profile-section-title {
      margin-top: 30px;
      @include mq(desktop) {
        margin-top: 54px;
      }
    }
  }
}

.customer__order-title {
  margin-top: 18px;
}

.customer__donation-title {
  margin-top: 126px;
  @include mq($until: tablet){
    margin-top: 31px;
  }
}