.template-customers-addresses {
  .page-content {
    .h4 {
      color: $blue0;
      font-family: $font-helvetica;
      font-weight: $font-weight-bold;
      font-style: normal;
      letter-spacing: 1.4px;
      text-align: center;
      text-transform: uppercase;
      @include mq(tablet) {
      }
    }
    p {
      color: $blue0;
      font-family: $font-helvetica;
      font-weight: $font-weight-normal;
      font-style: normal;
      letter-spacing: normal;
      @include mq(tablet) {
        font-weight: $font-weight-medium;
      }
    }
  }
}
