.donations-bar__inner {
  margin: 0 auto;
  text-align: center;
  padding: 12px 34px;
  @include mq(tablet) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.donations-bar__title {
  margin: 0;
  text-transform: none !important; // needed to override theme's css
  color: $blue0;
  font-family: $font-ltc-goudy-oldstyle-pro;
  font-weight: $font-weight-bold;
  letter-spacing: 1.1px;
  text-align: center;
  @include rem(font-size, 14px);
  @include mq(tablet) {
  }
  em {
    font-style: normal;
    color: $blue2;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
  }
}
