.feature-row__item {
  .h5 {
    color: $blue1;
    margin-top: 23px;
  }
  .h3 {
    @include rem(font-size, 34px);
    margin-top: 16px;
    color: $blue2;
    @include mq(tablet) {
      @include rem(font-size, 45px);
    }
  }
  .btn {
    background-color: $pink0;
    color: $white;
  }
}

.featured-row__subtext {
  color: $blue0;
  @include mq(tablet) {
  }
  &.rte {
    @include mq(tablet) {
      margin-bottom: 46px;
    }
  }
}
