.site-footer {
  text-align: center;
  @include mq(desktop) {
    text-align: left;
  }
  .grid {
    @include mq(desktop) {
      display: flex;
      justify-content: space-between;
    }
  }
  .grid__item[data-type="menu"] {
    @include mq(desktop) {
      margin-top: 65px;
    }
  }
  .footer__title {
    color: $brown0;
    font-family: $font-antro-vectra;
    @include rem("font-size", 25px);
    font-weight: $font-weight-bold;
    text-transform: lowercase;
    letter-spacing: normal;
    text-align: center;
    @include mq(desktop) {
      text-align: left;
      @include rem("font-size", 50px);
    }
  }
  .footer__newsletter-input {
    border-radius: 0;
  }
  .footer__collapsible {
    & > p {
      color: $blue0;
      font-family: $font-ltc-goudy-oldstyle-pro;
      @include rem("font-size", 15px);
      font-weight: $font-weight-bold;
      font-style: normal;
      letter-spacing: 1.5px;
      line-height: 1.53;
      text-align: center;
      @include mq(desktop) {
        @include rem("font-size", 20px);
        text-align: left;
        line-height: normal;
      }
    }
  }
  .footer__social {
    .icon {
      color: $brown0;
      @include mq(desktop) {
        width: 34px;
        height: 34px;
      }
    }
  }
  .grid__item {
    &::after {
      opacity: 1;
      border-bottom-color: $brown0;
    }
  }
  .site-footer__linklist {
    text-align: left;
    a {
      color: $blue0;
      font-family: $font-ltc-goudy-oldstyle-pro;
      @include rem("font-size", 15px);
      font-weight: $font-weight-bold;
      font-style: normal;
      letter-spacing: normal;
      text-align: center;
      @include mq(desktop) {
        @include rem("font-size", 20px);
      }
    }
  }

  input,
  select,
  textarea {
    @include rem("font-size", 20px);
  }
}
