.product-single__title {
}
// Style for "Leopard Pu"
.product-single__title {
  width: 311px;
  height: 59px;
  color: $blue0;
  font-family: $font-ltc-goudy-oldstyle-pro;
  font-size: 25px;
  font-weight: $font-weight-bold;
  font-style: normal;
  letter-spacing: 2.5px;
  line-height: 1.08;
  text-align: center;
}
// Text style for "Leopard Pu"
.product-single__title {
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
}
