.partner {
  display: flex;
  margin-bottom: 140px;
  @include mq($until: tablet){
    flex-direction: column;
    margin-bottom: 70px;
  }
}

.partner__image {
  min-width: 316px;
  height: 316px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include mq($until: tablet){
    display: none;
  }
}


.partner__info {
  margin-left: 30px;
  width: 365px;
  padding-right: 20px;
  flex: 1;
  @include mq($until: tablet){
    display: none;
  }
}

.partner__title {
  color: $blue2;
  font-family: $font-ltc-goudy-oldstyle-pro;
  font-weight: $font-weight-bold;
  margin-bottom: 29px;
  text-transform: uppercase !important;
  @include mq($until: tablet){
    margin: 0 0 0 15px;
  }
}

.partner__contact {
  font-family: $font-ltc-goudy-oldstyle-pro;
  color: $blue0;
  margin-bottom: 10px;
  display: block;
  @include mq($until: tablet){
    margin-bottom: 9px;
  }
}

.partner__contacts-socials {
  display: flex;
  @include mq($until: tablet){
    margin: 13px 0 43px;
  }
}

.partner__description {
  max-width: 45%;
  @include mq($until: tablet){
    max-width: initial;
  }
}

.partner__description-title {
  font-family: $font-ltc-goudy-oldstyle-pro;
  font-weight: $font-weight-normal;
  color: $blue0;
  text-transform: uppercase !important;
  @include mq($until: tablet){
  }
}

.partner__description-section {
  padding: 15px 0;
  color: $blue2;
  font-family: $font-ltc-goudy-oldstyle-pro;
  font-weight: $font-weight-normal;
  border-bottom: 2px solid $blue2;
  margin-bottom: 0;
  text-transform: none !important;
  @include mq($until: tablet){
    padding: 8px 0;
    border-bottom: 1px solid $blue2;
  }
}

.partner__description-info {
  color: $blue0;
  font-family: $font-ltc-goudy-oldstyle-pro;
  margin-top: 41px;
  @include mq($until: tablet){
  }
}

.partner__mobile-wrapper {
  display: none;
  @include mq($until: tablet){
    display: block;
  }
}

.partner__mobile-top-section {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.partner__mobile-image {
  height: 84px;
  width: 84px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

