.how-all__title {
  @include rem(font-size, 57px);
  text-align: center;
  margin: 85px 0 10px;
  font-family: $font-antro-vectra;
  font-weight: 700;
  text-transform: initial !important;
  color: $brown0;
  @include mq($until: tablet){
    @include rem(font-size, 23px);
    text-align: left;
    margin: 23px 0 12px 0;
  }
}

.how-all__image {
  width: 732px;
  height: 732px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include mq($until: tablet){
    height: 342px;
    width: 100%;
    background-size: contain;
  }
}

.how-all__description-wrapper {
  margin-top: 137px;
  padding-bottom: 140px;
  columns: 2;

  & > li::marker {
    content: counter(list-item) " - ";
    color: $brown0;
  }

  @include mq($until: tablet){
    margin-top: 33px;
    columns: 1;
    padding-bottom: 47px;
  }
}

.how-all__description {
  font-family: $font-ltc-goudy-oldstyle-pro;
  width: 90%;
  color: $blue0;
  @include mq($until: tablet){
    width: 100%;
  }
}