.template-search {
  [data-section-type="collection-template"] {
    .section-header__title {
      color: $blue0;
      font-family: $font-ltc-goudy-oldstyle-pro;
      font-weight: $font-weight-bold;
      letter-spacing: 2.5px;
      line-height: 1.08;
    }
    .grid {
      &.grid--uniform {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

.grid-search__page {
  height: 100%;
}
.grid-search__page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid-search__page-content {
  text-align: center;
  height: auto;
}
