.policy__section-title {
  font-family: $font-antro-vectra;
  font-weight: $font-weight-bold;
  color: $linen2;
  text-transform: initial !important;
  @include mq($until: tablet){
  }
}

.policy__section-description {
  font-family: $font-ltc-goudy-oldstyle-pro;
  font-weight: $font-weight-normal;
  color: $blue0;
  margin-top: 17px;
  @include mq($until: tablet){
    margin-top: 3px;
  }
}

.policy__section-wrapper {
  margin-top: 71px;
  @include mq($until: tablet){
    margin-top: 23px;
    & + & {
      margin-top: 51px;
    }
  }
}

.policy__wrapper {
  margin-bottom: 113px;
  @include mq($until: tablet){
    margin-bottom: 52px;
  }
}