.predictive-results {
  a {
    color: $blue0;
    font-family: $font-ltc-goudy-oldstyle-pro;
    font-weight: $font-weight-bold;
  }
}
.predictive__label {
  color: $blue0;
  font-weight: $font-weight-bold;
  @include rem("font-size", 24px);
}

.predictive-results__footer {
  .btn {
    background-color: $pink0;
    color: $white;
  }
}
