.promo-grid {
  // background-color: rgba(199, 214, 216, 0.2);
  .type-advanced {
    .promo-grid__content {
      @include mq(desktop) {
        padding: 77px 52px;
        margin-left: 60px;
        margin-right: 60px;
      }
    }
    .rte--block {
      color: $blue0;
      font-family: $font-ltc-goudy-oldstyle-pro;
      @include rem("font-size", 15px);
      font-weight: $font-weight-normal;
      font-style: normal;
      letter-spacing: normal;
      line-height: 1.67;
      @include mq(desktop) {
        @include rem("font-size", 20px);
        line-height: 1.75;
      }
      &.rte--em {
        color: $blue1;
        font-family: $font-ltc-goudy-oldstyle-pro;
        @include rem("font-size", 20px);
        font-weight: $font-weight-normal;
        font-style: normal;
        letter-spacing: normal;
        line-height: 1.25;
        text-transform: none;
        @include mq(desktop) {
          @include rem("font-size", 30px);
          line-height: 1.33;
          margin-bottom: 20px;
        }
      }
      &.rte--strong {
        color: $linen2;
        font-family: $font-ltc-goudy-oldstyle-pro;
        @include rem("font-size", 27px);
        font-weight: $font-weight-normal;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        margin-bottom: 17px;
        text-transform: none;
        @include mq(desktop) {
          @include rem("font-size", 47px);
          margin-bottom: 0;
        }
      }
      &.rte--strong + .rte--block {
        @include mq(desktop) {
          margin-top: 20px;
        }
      }
      &.rte--strong + .btn {
        @include mq(desktop) {
          margin-top: 40px;
        }
      }
    }
  }
  .type-banner {
    .type-banner__text {
      font-family: $font-ltc-goudy-oldstyle-pro;

      p {
        font-weight: $font-weight-bold;
        text-align: center;
      }
      .h3 {
        font-family: inherit;
        @include rem("font-size", 20px);
        text-transform: uppercase;
        margin: 5px 0;
      }
      p:not(.h3):not(.btn) {
        padding: 0 35px;
      }
    }
    .btn.btn--secondary {
      color: $blue0;
    }
  }
}
