.promo-grid {
  .type-advanced {
    .promo-grid__content {
      @include mq(desktop) {
        padding: 35px 42px;
        margin: 106px 60px;
        max-width: 560px;
      }
    }
    .rte--block {
      color: $blue0;
      font-family: $font-ltc-goudy-oldstyle-pro;
      font-weight: $font-weight-normal;
      font-style: normal;
      letter-spacing: normal;
      &.rte--em {
        @include rem(font-size, 15px);
        color: $blue1;
        font-family: $font-ltc-goudy-oldstyle-pro;
        font-weight: $font-weight-normal;
        font-style: normal;
        letter-spacing: normal;
        text-transform: none;
        @include mq(desktop) {
          @include rem(font-size, 22px);
          margin-bottom: 20px;
        }
      }
      &.rte--strong {
        color: $linen2;
        font-family: $font-ltc-goudy-oldstyle-pro;
        font-weight: $font-weight-normal;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        margin-bottom: 17px;
        text-transform: none;
        @include mq(desktop) {
          margin-bottom: 0;
        }
      }
      &.rte--strong + .rte--block {
        @include mq(desktop) {
          margin-top: 20px;
        }
      }
      &.rte--strong + .btn {
        @include mq(desktop) {
          margin-top: 40px;
        }
      }
    }
  }
  .type-banner {
    .type-banner__text {
      font-family: $font-ltc-goudy-oldstyle-pro;

      p {
        font-weight: $font-weight-bold;
        text-align: center;
      }
      .h3 {
        font-family: inherit;
        text-transform: uppercase;
        margin: 5px 0;
      }
      p:not(.h3):not(.btn) {
        padding: 0 35px;
      }
    }
    .btn.btn--secondary {
      color: $blue0;
    }
  }
}
