.social-sharing__title {
  font-family: $font-helvetica;
  font-weight: $font-weight-normal;
  color: $blue0;
  text-transform: uppercase;
  @include mq($until: tablet){
    letter-spacing: 1.2px;
  }
}

.social-sharing__link {
  svg {
    color: $blue0;
  }
}